{% extends 'index.html' %}

{% block container %}
{% csrf_token %}
    <style type="text/css">
    .chat-box {
    height: 500px;
    border: 1px solid greenyellow;
}

.contact-list {
    height: 100%;
    border: 1px solid crimson;

}

.contact-list-head {
    margin-top: 10px;
    margin-bottom: 25px;
}

.dialog-box {
    height: 100%;
    border: 1px solid purple;
    margin-left: 25%;
    padding: 5px;

}

.dialog-box-head {
    height: 10%;
    background-color: #5bc0de;
}

.dialog-box-content {
    height: 70%;
    background-color: pink;
    overflow: auto;
}

.dialog-box-utils {
    height: 5%;
    background-color: lightgreen;
}

.dialog-box-sendmsg textarea {
    height: 100%;
    width: 100%;
    resize: none;
}

    </style>
    <div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#contact-box" aria-controls="home" role="tab" data-toggle="tab">联系人</a></li>
    <li role="presentation"><a href="#contact-group-box" aria-controls="profile" role="tab" data-toggle="tab">群组</a></li>
    <li role="presentation"><a href="#Config" aria-controls="messages" role="tab" data-toggle="tab">配置</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="contact-box">
        <div class="row chat-box">
            <div class="contact-list col-md-3">
                <div class="contact-list-head">
                    <input type="text">
                </div>




                <div id="contact-list" class="list-group">

                    {% for contact in request.user.userprofile.friends.select_related %}

                  <a contact-id="{{ contact.id }}" contact-type="single" href="#" class="list-group-item">
                      {{ contact.name }}
                      <span style="background-color: orangered" class="badge hide">0</span>
                  </a>

                    {% endfor %}
                </div>




            </div>
            <div class="dialog-box">
                <div class="dialog-box-head">
                    <span contact-id="-10" contact-type="single">TT</span>
                    Alex chating...
                </div>
                <div class="dialog-box-content">
                    fsafafasfa
                </div>
                <div class="dialog-box-utils">
                    img.
                </div>
                <div class="dialog-box-sendmsg">
                    <textarea name="msg"></textarea>
                </div>

            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="contact-group-box">联系组</div>
    <div role="tabpanel" class="tab-pane" id="Config">...</div>
  </div>

</div>

{% endblock %}

{% block bottom-js %}

<script type="text/javascript">

    all_dialog_sessions = {
        'single':{},
        'group':{}
    }

    $(document).ready(function () {

        //RefreshMsgs = setInterval(function () {
            GetNewMsg();
        //},3000)

        $("#contact-list a").click(function () {
            $(this).addClass("active")

            //切换聊天人后，未读的消息至0
            $(this).children("span").addClass("hide")
            $(this).children("span").text(0)

            $(this).siblings().removeClass("active")

            SwitchChatBox(this)
        })
    })

    $("body").delegate("textarea","keydown",function (e) {
        if(e.which == 13) {  //Enter key down.  Send msg button clicked
            var msg_text = $("textarea").val()
            if ($.trim(msg_text).length > 0) {
                //console.log(msg_text)
                SendMsg(msg_text)
            }
            AddSentMsgIntoBox(msg_text)
            $("textarea").val('')
        }
    })

    function SwitchChatBox(ele) {
        var current_uid = $(ele).attr("contact-id")
        var current_dialog_type = $(ele).attr("contact-type")
        var current_contact_name = $(ele).text()

        var old_session_id = $(".dialog-box-head span").attr("contact-id")
        var old_session_type = $(".dialog-box-head span").attr("contact-type")
        SessionHandle(old_session_id,old_session_type,"dump")
        var current_dialog_content = SessionHandle(current_uid,current_dialog_type,"load")
        $(".dialog-box-content").html(current_dialog_content)
        var dialog_head_html = "<span contact-id='" + current_uid + "' contact-type='" + current_dialog_type + "' >" + current_contact_name + "</span>"
        $(".dialog-box-head").html(dialog_head_html)

        //切换聊天人后，未读的消息至0
     //   var msg_count_ele = $("#contact-list a[contact-id='"+current_uid+"'] span")
      //  msg_count_ele.addClass("hide")

    }
    
    function SessionHandle(contact_id,contact_type,action) {
        if (action == "dump") { //保存当前聊天记录
            var current_dialog_content = $(".dialog-box-content").html()
            all_dialog_sessions[contact_type][contact_id] = current_dialog_content
        }else if(action =="load") { //把指定的contact id 的聊天记录加载出来
            var new_dialog_content = '';
            if (all_dialog_sessions[contact_type].hasOwnProperty(contact_id)){
                new_dialog_content = all_dialog_sessions[contact_type][contact_id]
            }
            return new_dialog_content
        }
    }
    
    function AddSentMsgIntoBox(msg_text) {
        var msg_div = "<div class='row' style='padding: 20px'><div class='pull-right'>" +
                "<span>" + "{{ request.user.userprofile.name }}" + "</span>" +
                "<span>" + new Date().toLocaleTimeString() + "</span>" +
                "<p>" + msg_text + "</p>" + "</div></div>";
        $(".dialog-box-content").append(msg_div);
        $(".dialog-box-content").animate({
            scrollTop:$(".dialog-box-content")[0].scrollHeight},500)
    }

    function GetNewMsg() {

        var current_contact_id = $(".dialog-box-head span").attr("contact-id")
        var current_contact_name = $(".dialog-box-head span").text()
        $.get("{% url 'get_new_msg' %}",{'uid':'{{ request.user.userprofile.id }}'},function(callback){

            //console.log(callback);
            callback = JSON.parse(callback)
            $.each(callback,function (index,msg) {
             //   console.log(msg.from_id)
                if (msg.from_id == current_contact_id) {  //这条消息是属于当前聊天的这个窗口
                    var msg_div = "<div class='row' style='padding: 20px'>" +
                            "<span>" + current_contact_name + "</span>" +
                            "<span>" + msg.date + "</span>" +
                            "<p>" + msg.msg  + "</p>" +
                            "</div>"

                    $(".dialog-box-content").append(msg_div)
                    $(".dialog-box-content").animate({
                        scrollTop:$(".dialog-box-content")[0].scrollHeight},500)

                }
                else{ //发送这条消息的人，当前它的对话框没被打开。所以只能更新消息数
                    var msg_count_ele = $("#contact-list a[contact-id='"+msg.from_id+"'] span")
                    msg_count_ele.text(parseInt(msg_count_ele.text()) + 1)
                    msg_count_ele.removeClass("hide")
                    //同时把这条消息先暂存在全局临时变量里
                    var msg_sender_name = $("#contact-list a[contact-id='"+msg.from_id+"']").text()
                    var msg_div = "<div class='row' style='padding: 20px'>" +
                            "<span>" + msg_sender_name + "</span>" +
                            "<span>" + msg.date + "</span>" +
                            "<p>" + msg.msg + "</p>" +
                            "</div>"
                    var old_session_content = SessionHandle(msg.from_id,msg.contact_type,"load")
                    var new_session_content = old_session_content + msg_div
                    all_dialog_sessions[msg.contact_type][msg.from_id] = new_session_content


                }
            });//end each
            GetNewMsg()
        });//end get
            console.log("---no block---")
    }
    
    function SendMsg(msg) {

        var msg_dic = {
            'from_id':"{{ request.user.userprofile.id }}",
            "to_id":$(".dialog-box-head span").attr("contact-id"),
            "contact_type":$(".dialog-box-head span").attr("contact-type"),
            "msg":msg
        }

        $.post("{% url 'chat_send_msg' %}",{'data': JSON.stringify(msg_dic),'csrfmiddlewaretoken':$("input[name='csrfmiddlewaretoken']").val()},function(callback){

            console.log(callback)
    })
    }
    
</script>

{% endblock %}